/* ***** SELECTION BOX / INPUT BOX ******* */
#marker-menu, #marker-view-panel {
  display: inline;
  border-radius: 4px;
  position: fixed;
  z-index: 999;
  margin-top: 175px;
  margin-left: 30%;
  width: 40%;
  background: rgb(213, 206, 215);
/*   opacity: .87; */
}

#text-interface {
  display: none;
}

#text-interface-done {

  background: #398e8a;
  border-radius: 4px;
  font-size: 30px;
  padding: 20px;
  border: none;
  color: #194a48;
}

#text-interface-done:hover{
    background: orange;
}

#imageDiv {
  padding: 8px;
}

#inputImage {

}

#imgUpload {
  display: block;
  padding: 15px;
  margin: auto;
  width: 380px;
}

.grid-footer {
  padding: 0px;
}

#button {
  margin: 0px;
  padding: 0px;
}

.post-description {
  outline: none;
  border: none;
  font-size: 16px;
  background: rgb(236, 236, 236);
  width: 92%;
  height: 50%;
  padding: 20px;
  text-align: left;
  line-height: 18px;
}

.grid-header {
  font-size: 30px;
  padding-top: 5%;
  padding-bottom: 5%;
  color: rgb(112, 103, 115);
}

#grid-container {
  margin-top: 10%;
  margin: 1%;
  width: 98%;
  height: 77%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr; 
  /* column-gap: 3%; */
  }

  .selection-item {
    margin-top: 12%;
    border-radius: 4px;
    vertical-align: middle;

/*     background-color: lightgrey; */
  }
  
  .selection-item:hover {
    background: rgb(171, 166, 173);
  }

  .selection-img {
    width: 60px;
  }

  #marker-view-content, #marker-view-time {
    font-size: 35px;
    text-align: left;
    padding: 60px;
  }
  
  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
    color: grey;
  }

@media (max-width: 1100px) {

  .selection-img {
    width: 50px;
  }

  #marker-view-panel {
    margin-left: 12%;
    width: 76%;
  }
  
}



@media (max-width: 850px) {

  .marker-menu {
    font-size: 30px;
  }

  #marker-view-content, #marker-view-time {
    font-size: 25px;
    text-align: left;
    padding: 60px;
  }
  
  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
    color: grey;
  }

  .selection-img {
    margin-top: 5px;
  }

}

@media (max-width: 600px) {

  #marker-menu, #marker-view-panel {
    margin-left: 6%;
    width: 88%;
  }

  /******* MENU */

  #text-interface-done {

    font-size: 20px;
    padding: 20px;
    border: none;
    color: #194a48;
  }

  #post-description {
    margin: 0px;
  }

  #marker-view-content, #marker-view-time {
    font-size: 25px;
    text-align: left;
    padding: 50px;
    padding-bottom: 20px;
  }

  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
  }

  /******* VIEW */

  #marker-view-content, #marker-view-time {
    font-size: 25px;
    text-align: left;
    padding: 50px;
    padding-bottom: 20px;
  }

  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
  }

}

@media (max-width: 400px) {

  /******* SHARED */

  #marker-menu, #marker-view-panel {
    margin-top: 75px;
  }

  h1 {
    font-size: 18px;
    padding-bottom: 0px;
  }

  #new-marker, #center-map {

    font-size: 14px;
    padding: 20px;

  }

  /****** MENU */

  h1 {
    font-size: 18px;
  }

  .selection-img {
    width: 30px;
  }

  #post-description {
    font-size: 14px;
  }

  .selection-img {
    margin-top: 7px;
  }

  #text-interface-done {

    margin-top: 20px;
    margin-bottom: 20px;

  }

  #imgUpload {
    padding: 15px;
    width: 200px;
  }

  /******* VIEW */

  #marker-view-panel {
    overflow-y: auto;
    height: 48%;
  }
  
}