/* ***** SELECTION BOX / INPUT BOX ***** */
#marker-view-panel {
  display: none;
  border-radius: 4px;
  position: fixed;
  z-index: 999;
  margin-top: 100px;
  margin-left: 30%;
  width: 40%;
  height: 60%;
  background: white;
}

.marker-view-header {
  color: grey;
  font-size: 50px;
  padding-top: 10%;
}

#marker-view-content, #marker-view-time {
  font-size: 35px;
  text-align: left;
  padding: 60px;
}

#marker-view-time {
  padding-top: 0px;
  font-size: 20px;
  color: grey;
}

@media (max-width: 850px) {

  #marker-view-panel {
  }

  .marker-view-header {
    font-size: 30px;
  }

  #marker-view-content, #marker-view-time {
    font-size: 25px;
    text-align: left;
    padding: 60px;
  }
  
  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
    color: grey;
  }

}

@media (max-width: 600px) {

  #marker-view-panel {
    margin-left: 15%;
    width: 70%;
  }

  #marker-view-content, #marker-view-time {
    font-size: 25px;
    text-align: left;
    padding: 50px;
    padding-bottom: 20px;
  }

  #marker-view-time {
    padding-top: 0px;
    font-size: 20px;
  }
}