img {
  border: none;
}

#banner-title, #banner-login {
    background: black;
    font-family: 'Caveat', Tahoma;
}

#banner-title {
  color: #398e8a;
}

#banner-login {
  color: #ff6655;
}

#banner-title:hover {
  background: #575757;
  color: #fcd161;
}

#banner-login:hover {
  background: #575757;
  color: #b2daff;
}

#banner-title:active {
  color: #575757;
}

#banner-login:active {
  font-size: 300%;
}


#data-item {
  background: #ff90a5;
  padding-top: 2%;
}

#theList {
  padding-bottom: 2%;
  background: #ff90a5;
}

/* FOOTER */

#new-marker, #center-map {
  border-radius: 4px;
}

#center-map {
  border: 0px;
  background: #ff6655;
  color: white;
}

#center-map:hover {
  background: orange;
  color: white;
}

#new-marker {
  border: 0px;
  background: #398e8a;
  color: white;
}

#new-marker:hover {
  background: orange;
  color: white;
}

#loading {
  color: orange;
}

.gm-style div {
  -webkit-transform: scale(1.002);
}
